* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@font-face {
    font-family: OCR A Extended;
    src: url(./fonts/OCRAEXT.TTF);
}

body {
    font-family: OCR A Extended;
    background: #170d16;
    color: white;
    line-height:1.6;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#9000c9;
}

nav ul {
    display:flex;
    gap:20px;
    list-style:none;
}

nav a {
    color:white;
    text-decoration:none;
}

.hero {
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px;
}

.heroContent {
    max-width:800px;
}

.hero h2 {
    font-size:4rem;
    margin-bottom:20px;
}

.hero p {
    font-size:1.2rem;
    margin-bottom:30px;
}

.btn {
    padding: 15px 30px;
    background: #ae00ff;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
}

.cards, .industryGrid, .pathGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
    padding: 50px;
}

.card, .industryCard, .pathCard, .careerBox, .timelineItem {
    background:#1e1622;
    padding:30px;
    border-radius:15px;
    border:1px solid #3a303d;
}

.careerContainer {
    padding:50px;
}

.careerSection {
    margin-bottom:50px;
}

.careerBox ul {
    margin-left:20px;
}

.ladder {
    margin-top:20px;
    padding:20px;
    background:#250f2a;
    border-radius:10px;
    text-align:center;
}

.timeline {
    padding:50px;
    display:flex;
    flex-direction:column;
    gap:30px;
}

footer {
    text-align:center;
    padding:30px;
    background:#221127;
}

html {
    scroll-behavior:smooth;
}

nav {
    position:sticky;
    top:0;
    z-index:1000;
    transition:0.3s;
}


.show {
    opacity:1;
    transform:translateY(0);
}

.pageTitle {
    text-align:center;
    font-size:3rem;
    margin:60px 0;
}

.pathSection {
    padding:0 50px 50px 50px;
}

.pathSection h2 {
    margin-bottom:30px;
    font-size:2rem;
}

.fullWidth {
    width:100%;
}

.sourcesContainer {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
    padding:50px;
}

.sourceCard {
    background:#1e1622;
    padding:30px;
    border-radius:15px;
    border:1px solid #39303d;
}

.timelinePage {
    padding-bottom:100px;
}